In [5]:
import pandas as pd
import numpy as np
import geopandas as gpd
from sqlalchemy import create_engine, text

passw = '12345'
engine=create_engine(f'postgresql://team4:{passw}@ds4a-instance.c5zadjwjarvt.sa-east-1.rds.amazonaws.com/ds4afp', max_overflow=20)
def runQuery(sql):
    result = engine.connect().execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [2]:
q = """
SELECT file_year, id_birth, resultado_emb, count(*) FROM eevv
GROUP BY file_year, id_birth, resultado_emb
"""

mortality = runQuery(q)
mortality.head()

   file_year id_birth resultado_emb  count
0       2008    05001   NACIDO_VIVO  43155
1       2008    05002   NACIDO_VIVO    162
2       2008    05004   NACIDO_VIVO     16
3       2008    05021   NACIDO_VIVO     43
4       2008    05030   NACIDO_VIVO    184

In [3]:
mortality.id_birth = mortality.id_birth.str.zfill(5) #Convert code to str and zero-fill

mortality.resultado_emb.replace({"DEFUNCION_FETAL":"fetal",
                                 "DEFUNCION_NO_FETAL":"no_fetal",
                                 "NACIDO_VIVO":"alive"},inplace=True)

#One Hot encoding for these categories
mort = pd.get_dummies(mortality,columns=['resultado_emb'],prefix='',prefix_sep='')

#Replace the 1 with the actual count 
for col in ['fetal','no_fetal','alive']:
    mort[col] *= mort['count']
    
mort.head()

   file_year id_birth  count  alive  fetal  no_fetal
0       2008    05001  43155  43155      0         0
1       2008    05002    162    162      0         0
2       2008    05004     16     16      0         0
3       2008    05021     43     43      0         0
4       2008    05030    184    184      0         0

In [4]:
mort = mort.groupby(['file_year','id_birth']).sum().reset_index()
mort['cod_dpto'] = mort.id_birth.str[:2]
mort['deaths'] = mort['fetal'] + mort['no_fetal']
mort.head()

   file_year id_birth  count  alive  fetal  no_fetal cod_dpto  deaths
0       2008    05001  46516  43155   2664       697       05    3361
1       2008    05002    172    162      5         5       05      10
2       2008    05004     18     16      2         0       05       2
3       2008    05021     45     43      2         0       05       2
4       2008    05030    191    184      7         0       05       7

In [6]:
#GeoData: this contains names and codes
geo = gpd.read_file('../Data/GeoData/Municip.json')
mort['mpio_name'] = mort['id_birth'].replace(geo['MPIO_CCNCT'].to_list(),geo['MPIO_CNMBR'].to_list())
mort.head()

,file_year,id_birth,count,alive,fetal,no_fetal,cod_dpto,deaths,mpio_name
0,2008,05001,46516,43155,2664,697,05,3361,MEDELLÍN
1,2008,05002,172,162,5,5,05,10,ABEJORRAL
2,2008,05004,18,16,2,0,05,2,ABRIAQUÍ
3,2008,05021,45,43,2,0,05,2,ALEJANDRÍA
4,2008,05030,191,184,7,0,05,7,AMAGÁ

In [7]:
population = pd.read_excel('../Data/GeoData/Poblacion2005-2017.xlsx',header=12)
population.DPMP = population.DPMP.astype(str).str.zfill(5)
population.head()

,DP,DPNOM,DPMP,MPIO,AÑO,ÁREA GEOGRÁFICA,Total
0,5,Antioquia,05001,Medellín,2005,Cabecera Municipal,2181111
1,5,Antioquia,05001,Medellín,2005,Centros Poblados y Rural Disperso,36331
2,5,Antioquia,05001,Medellín,2005,Total,2217442
3,5,Antioquia,05001,Medellín,2006,Cabecera Municipal,2218604
4,5,Antioquia,05001,Medellín,2006,Centros Poblados y Rural Disperso,38837

In [33]:
popul = (population.loc[population['ÁREA GEOGRÁFICA'] == 'Total',['DPMP','AÑO','Total']]
         .rename(columns={'DPMP':'munic_code','AÑO':'year'}))
popul.head()

   munic_code  year    Total
2       05001  2005  2217442
5       05001  2006  2257441
8       05001  2007  2286126
11      05001  2008  2309689
14      05001  2009  2331389

In [34]:
#Get dptos names
population['DP'] = population['DP'].astype(str).str.zfill(2)
dpto_names = population.groupby('DP')['DPNOM'].max().reset_index()
dpto_names.head()

   DP         DPNOM
0  05     Antioquia
1  08     Atlántico
2  11  Bogotá, D.C.
3  13       Bolívar
4  15        Boyacá

In [35]:
#Now compute these quantities per capita
df = (mort.merge(popul,left_on=['file_year','id_birth'],
                 right_on=['year','munic_code'])
      .drop(columns=['file_year','munic_code']))

for col in ['fetal','no_fetal','alive','deaths']:
    df[col+'_percapita'] = df[col]*100/df['Total']
    
df_munic = df.copy() #One df by munic
df_dptos = df.copy() #Another by dpto

#Sum all data for one dpto.
df_dptos = (df_dptos.groupby(['year','cod_dpto'])
            .sum()
            .loc[:,['alive','fetal','no_fetal','deaths','Total']]
            .reset_index())

#Calculate quantities per capita
for col in ['fetal','no_fetal','alive','deaths']:
    df_dptos[col+'_percapita'] = df_dptos[col]*100/df_dptos['Total']
    
df_dptos = df_dptos.merge(dpto_names,left_on='cod_dpto',right_on='DP').drop(columns='DP')
df_dptos.head()

,year,cod_dpto,alive,fetal,no_fetal,deaths,Total,fetal_percapita,no_fetal_percapita,alive_percapita,deaths_percapita,DPNOM
0,2008,05,91137,5390,1170,6560,5783831,0.093191,0.020229,1.575720,0.113420,Antioquia
1,2009,05,86022,4426,958,5384,5843258,0.075745,0.016395,1.472158,0.092140,Antioquia
2,2010,05,77936,4531,838,5369,5902729,0.076761,0.014197,1.320338,0.090958,Antioquia
3,2011,05,75781,4994,777,5771,5959950,0.083793,0.013037,1.271504,0.096830,Antioquia
4,2012,05,76967,6008,737,6745,6013862,0.099903,0.012255,1.279827,0.112158,Antioquia

In [36]:
df_munic.head()

,id_birth,count,alive,fetal,no_fetal,cod_dpto,deaths,mpio_name,year,Total,fetal_percapita,no_fetal_percapita,alive_percapita,deaths_percapita
0,05001,46516,43155,2664,697,05,3361,MEDELLÍN,2008,2309689,0.115340,0.030177,1.868433,0.145517
1,05002,172,162,5,5,05,10,ABEJORRAL,2008,20944,0.023873,0.023873,0.773491,0.047746
2,05004,18,16,2,0,05,2,ABRIAQUÍ,2008,2290,0.087336,0.000000,0.698690,0.087336
3,05021,45,43,2,0,05,2,ALEJANDRÍA,2008,4020,0.049751,0.000000,1.069652,0.049751
4,05030,191,184,7,0,05,7,AMAGÁ,2008,28331,0.024708,0.000000,0.649465,0.024708

In [37]:
#Save these dfs
df_dptos.to_csv('../App/data/OutcomePerCapitaDptos.csv',index=False)
df_munic.to_csv('../App/data/OutcomePerCapitaMunic.csv',index=False)

In [52]:
import json 
#Load dpto and munic data
with open('../Data/GeoData/Dpto.json', 'r') as f:
    Dpto = json.loads(f.read())
    
with open('../Data/GeoData/Municip.json', 'r') as f:
    Munic = json.loads(f.read())

In [54]:
import plotly.express as px

def ChoroDpto(df=df_dptos,color='alive_percapita',year=2017):
    df_slice = df[df['year'] == year].groupby('cod_dpto').mean().reset_index()
    
    Fig = px.choropleth_mapbox(df_slice,
               locations='cod_dpto',
               color=color,
               geojson=Dpto,
               zoom=4,
               mapbox_style="carto-positron",
               featureidkey = 'properties.DPTO_CCDGO',
               color_continuous_scale="PuRd",
               center={'lat':4,'lon':-75},
               #hover_name='mpio_name',
               opacity=0.7)
    return Fig

def ChoroMunicip(df=df_munic,color='deaths',dpto='91',year = 2017):
    df_slice = df[(df['cod_dpto'] == dpto)&(df['year'] == year)]
    
    Fig = px.choropleth_mapbox(df_slice,
               locations='id_birth',
               color=color,
               geojson=Munic,
               zoom=4,
               mapbox_style="carto-positron",
               featureidkey = 'properties.MPIO_CCNCT',
               color_continuous_scale="PuRd",
               center={'lat':4,'lon':-75},
               #hover_name='mpio_name',
               opacity=0.7)
    return Fig