In [1]:
%load_ext sql
%sql postgresql://team4:12345@ds4a-instance.c5zadjwjarvt.sa-east-1.rds.amazonaws.com/ds4afp

'Connected: team4@ds4afp'

In [3]:
%%sql
end;
drop table eevv;

end;
CREATE TABLE eevv(
    ind int,
    APGAR1 float(1),
    APGAR2 float(1),
    AREA smallint,
    AREA_RESIDENCIA_HAB float(1),
    ASIS_MED float(1),
    CERT_EXPEDIDO_POR smallint,
    CODOCUR varchar(50),
    COD_DPTO varchar(50),
    COD_INST varchar(40),
    DEPTO_RESIDENCIA varchar(50),
    EDAD_MADRE float(1),
    EDAD_PADRE float(1),
    ESTADO_CIVIL_M float(1),
    FECHA_NAC_HIJO_VIVO date,
    FILE_YEAR smallint,
    GRU_ED1 float(1),
    IDFACTORRH float(1),
    IDHEMOCLAS float(1),
    IDPERTET float(1),
    IDPUEBLOIN float(1),
    MANERA_MUERTE varchar(50),
    MOMENTO_MUERTE varchar(50),
    NACIDO_VIVO smallint,
    NIV_EDUCATIVO_M varchar(100),
    NIV_EDUCATIVO_P varchar(100),
    NOMBRE_ADM_SALUD varchar(2000),
    NOM_INST varchar(2000),
    NUMERO_EMBARAZOS float(1),
    NUM_CONSUL float(1),
    N_HIJOSM float(1),
    N_HIJOSV float(1),
    ORIGINAL_FILE varchar(100),
    PAIS_RESIDENCIA varchar(50),
    PARTO_ATENDIDO_POR varchar(50),
    PESO float(1),
    PROFESION_QUIEN_CERTIFICA varchar(50),
    RESULTADO_EMB varchar(50),
    SEG_SOCIAL varchar(50),
    SEXO varchar(50),
    SITIO_EVENTO varchar(50),
    TALLA float(1),
    TIEMPO_GESTACION varchar(50),
    TIPO_ADM_SALUD float(1),
    TIPO_EMBARAZO varchar(50),
    TIPO_PARTO varchar(50),
    ULT_GRADO_MADRE float(1),
    ULT_GRADO_PADRE float(1),
    ID_BIRTH varchar(50),
    ID_RESID varchar(50),
    ID_VIOL varchar(50),
    DATE date);

 * postgresql://team4:***@ds4a-instance.c5zadjwjarvt.sa-east-1.rds.amazonaws.com/ds4afp
Done.
Done.
Done.
Done.

[]

In [4]:
%%sql

SELECT * FROM eevv
limit 10

 * postgresql://team4:***@ds4a-instance.c5zadjwjarvt.sa-east-1.rds.amazonaws.com/ds4afp
0 rows affected.

[]