In [5]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sqlalchemy import create_engine, text

In [6]:


engine=create_engine('postgresql://team4:12345@ds4a-instance.c5zadjwjarvt.sa-east-1.rds.amazonaws.com/ds4afp', max_overflow=20)
def runQuery(sql):
    result = engine.connect().execution_options(isolation_level="AUTOCOMMIT").execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [7]:
q = """
    SELECT * FROM eevv LIMIT 10;
"""
test = runQuery(q)

In [8]:
test.columns

Index(['ind', 'apgar1', 'apgar2', 'area', 'area_residencia_hab', 'asis_med',
       'cert_expedido_por', 'codocur', 'cod_dpto', 'cod_inst',
       'depto_residencia', 'edad_madre', 'edad_padre', 'estado_civil_m',
       'fecha_nac_hijo_vivo', 'file_year', 'gru_ed1', 'idfactorrh',
       'idhemoclas', 'idpertet', 'idpuebloin', 'manera_muerte',
       'momento_muerte', 'nacido_vivo', 'niv_educativo_m', 'niv_educativo_p',
       'nombre_adm_salud', 'nom_inst', 'numero_embarazos', 'num_consul',
       'n_hijosm', 'n_hijosv', 'original_file', 'pais_residencia',
       'parto_atendido_por', 'peso', 'profesion_quien_certifica',
       'resultado_emb', 'seg_social', 'sexo', 'sitio_evento', 'talla',
       'tiempo_gestacion', 'tipo_adm_salud', 'tipo_embarazo', 'tipo_parto',
       'ult_grado_madre', 'ult_grado_padre', 'id_birth', 'id_resid', 'id_viol',
       'date'],
      dtype='object')

In [4]:
test

NameError: name 'test' is not defined

In [13]:
test.cod_dpto.astype('category')

0    52
1    52
2    52
3    52
4    52
5    52
6    52
7    52
8    52
9    52
Name: cod_dpto, dtype: category
Categories (1, object): [52]

In [10]:

test.group
tiempo_gestacion

0    4561412
1    4561413
2    4561414
3    4561415
4    4561416
5    4561417
6    4561418
7    4561419
8    4561420
9    4561421
Name: ind, dtype: int64

In [ ]:
q = """
    SELECT DISTINCT cod_dpto FROM eevv;
"""
complete_df = runQuery(q)

KeyboardInterrupt

Exception ignored in: 'pandas._libs.lib.c_is_list_like'
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\envs\DS4A\lib\abc.py", line 139, in __instancecheck__
    return _abc_instancecheck(cls, instance)
KeyboardInterrupt

In [ ]:
complete_df.head()

In [ ]:
REGION_RES_CAT_dict = {
5:'Andina', 15:'Andina' , 17:1 ,25:1,41:1,54:1,63:1,66:1,68:1,73:1,11:1,
8:2,13:2,20:2,23:2,44:2,47:2,88:2,70:2,
19:3,27:3,52:3,76:3,
81:4,85:4,99:4,50:4,
91:5,94:5,95:5,97:5,18:5,86:5,
1:9,75:9}
5:23
Andina = 1. Caribe = 2. Pacifico=3. Orinoquia=4. Amazonia=5. Sin info + Resid en el extrangero = 9.